h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

img {
	max-width: 100%;
}

#avatar {
	border-radius: 50%;
}

.when {
	color: red;
}

.what {
	color: green;
}